<html>
<head>
</head>
<body>
<font face="Times New Roman">
<center>
<table border="1" cellspacing="2" cellpadding="5" width="100%">
</center></td><td colspan="5"><center><font size="8" color="blue"><marquee width=95%, bgcolor="lavender">Smart Tender Management System</marquee></center></td></tr>
<tr><td><center>
<a href="/description">Home</a></center></td>
<td><center>
<a href="/logintender">Login(Tender)</a></center></td>
<td><center>
<a href="/loginbidder">Login(Bidder)</a></center></td>
<td><center>
<a href="/registrationtender">Registration(Tender)</a></center></td>
<td><center>
<a href="/registrationbidder">Registration(Bidder)</a></center></td>
</table>
</center>
</font>
</body>
</html>
