<html>
<head>
</head>
<body bgcolor="RosyBrown">
    <font face="Times New Roman">
        <center>
        <table border="1" cellspacing="2" cellpadding="5" width="100%">
        </center></td><td colspan="5"><center><font size="8" color="blue"><marquee width=95%, bgcolor="lavender">Smart Tender Management System</marquee></center></td></tr>
        <tr><td><center>
        <a href="/">Home</a></center></td>
        <td><center>
        <a href="/logintender">Login(Tender)</a></center></td>
        <td><center>
        <a href="/loginbidder">Login(Bidder)</a></center></td>
        <td><center>
        <a href="/registrationtender">Registration(Tender)</a></center></td>
        <td><center>
        <a href="/registrationbidder">Registration(Bidder)</a></center></td>
        </table>
        </center>
    </font> 
<br><br><br><br><br><br><br>
<center>
<font face="Times New Roman" size="4" ><h2><u><b>LOGIN FOR BIDDER</b></u></h2></font>
<br><br><br>
<form action="/loginbidderform" method="POST">
<table>
<tr>
<td>User Name:</td>
<td><input type="text" name="username"></td>
</tr>
<tr>
<td>Password:</td>
<td><input type="password" maxlength="15" name="password"></td>
</tr>
<tr>
<td><input type="submit" value="SUBMIT" ></td>
</tr>
</table>
</form>
<span style="color:red">{{err}}</span>
</center>
</body>
</html>