<html>
<head>
<title>registration</title>
</head>
<body bgcolor="pink">
    <font face="Times New Roman">
        <center>
        <table border="1" cellspacing="2" cellpadding="5" width="100%">
        </center></td><td colspan="5"><center><font size="8" color="blue"><marquee width=95%, bgcolor="lavender">Smart Tender Management System</marquee></center></td></tr>
        <tr><td><center>
        <a href="/">Home</a></center></td>
        <td><center>
        <a href="/logintender">Login(Tender)</a></center></td>
        <td><center>
        <a href="/loginbidder">Login(Bidder)</a></center></td>
        <td><center>
        <a href="/registrationtender">Registration(Tender)</a></center></td>
        <td><center>
        <a href="/registrationbidder">Registration(Bidder)</a></center></td>
        </table>
        </center>
    </font> 
<center>
<h2 ALIGN="center"><u>REGISTRATION PAGE</u></h2>
<form action="/registertender" method="POST">
<table>
<tr><td>USER NAME</td><td><input type="text" name="username" /> </td>
<tr><td>PASSWORD</td><td><input type="Password" name="password" /></td></tr>
<br>
<br>
<tr><td><input type="submit" value="REGISTER"></td></tr>
</table>
<br>
<br>
<br>
</center>
</form>
</body>
</html>
